.loginpage {
  background-image: url('../../images/san-siro.jpg');
  background-position: center;
}

.form_container {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -60%);
  border: 1.5px solid lightgrey;
  padding: 3.5em;
  background-color: #FFF;
}

.h2 {
  font-size: 3.25em;
  font-weight: 300;
  text-align: center;
  margin-bottom: 0.5em;
}

.login-form {
  max-width: 300px;
}

.login-forgot {
  float: right;
}

.login-btn {
  margin-top: 1em;
  width: 100%;
}
