.header {
  background: #FF4733;
  padding: 0;
}

.trigger {
  font-size: 18px;
  line-height: 64px;
  padding: 0 16px;
  cursor: pointer;
  transition: color .3s;
  color: white;
}

.trigger:hover {
  color: #3C3C3C;
}

.btnContainer {
  float: right;
}

.btn {
  text-align: center;
  margin-right: 1em;
}

.btn:hover {
  color: #3C3C3C;
  border-color: #3C3C3C;
}
